<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
	<div th:replace="navbar :: myNavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="sidebar :: mySidebar"></div>
		<!-- Form starts from here -->
		<div id="layoutSidenav_content">
			<div class="container">
				<br>
				<div class="spinner-grow text-muted"></div>
				<div class="spinner-grow text-primary"></div>
				<div class="spinner-grow text-success"></div>
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-warning"></div>
				<div class="spinner-grow text-danger"></div>
				<div class="spinner-grow text-secondary"></div>
				<div class="spinner-grow text-dark"></div>
				<div class="spinner-grow text-light"></div>
				<hr>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
					<li class="breadcrumb-item active">Item Issuance</li>
				</ol>
				<form class="needs-validation" th:action="@{/ItemIssuanceCreate}"
					id="contact_form" th:object="${itemIssuanceDto}" method="post"
					novalidate>
					<!-- Text input-->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('global')}">
						<ul>
							<li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
						</ul>
					</div>
					<fieldset class="border p-2">
						<legend class="w-auto"> Issue an item </legend>
						<div class="form-group">
							<label class="col-md-4 control-label">Item ID</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input name="Item ID"
										placeholder="Item ID" th:field="*{itemId}"
										class="form-control" type="number" min="1"
										th:required="required">
								</div>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('itemId')}" th:errors="*{itemId}"></div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label">Borrower ID</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input
										name="Borrower ID" placeholder="Borrower ID"
										th:field="*{borrowerId}" class="form-control" type="number"
										min="1" th:required="required">
								</div>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('borrowerId')}"
									th:errors="*{borrowerId}"></div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label">Loan Duration</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input
										name="loanDuration" placeholder="Enter Loan Duration"
										th:field="*{loanDuration}" class="form-control" type="number"
										min="1" th:required="required">
								</div>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('loanDuration')}"
									th:errors="*{loanDuration}"></div>
							</div>
						</div>
						<!-- Select Basic -->
						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-4">
								<button id="issueItemBtn" type="submit"
									class="btn btn-success float-right">Issue Item</button>
								<button type="reset" class="btn btn-danger">Cancel</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<div th:replace="footer :: myFooter"></div>
</body>
</html>