<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="header :: myHeader"></div>
	</head>
	<body class="sb-nav-fixed">
		<div th:replace="navbar :: myNavbar"></div>
		<div id="layoutSidenav">
			<div th:replace="sidebar :: mySidebar"></div>
			<div id="layoutSidenav_content">
				<div class="container">
					<br>
					<div class="spinner-grow text-muted"></div>
					<div class="spinner-grow text-primary"></div>
					<div class="spinner-grow text-success"></div>
					<div class="spinner-grow text-info"></div>
					<div class="spinner-grow text-warning"></div>
					<div class="spinner-grow text-danger"></div>
					<div class="spinner-grow text-secondary"></div>
					<div class="spinner-grow text-dark"></div>
					<div class="spinner-grow text-light"></div>
					<hr>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
						<li class="breadcrumb-item active">Item Issuance Deletion</li>
					</ol>
					<h3>Are you sure you want to delete this Item?</h3>
					<div>
						<hr />
						<dl class="dl-horizontal">
							<dt> Item Issuance ID</dt>
							<dd th:text="${itemIssuanceDto.id}"></dd>
							<dt> Item ID</dt>
							<dd th:text="${itemIssuanceDto.itemId}"></dd>
							<dt> Borrower ID</dt>
							<dd th:text="${itemIssuanceDto.borrowerId}"></dd>
							<dt> Loan Duration</dt>
							<dd th:text="${itemIssuanceDto.loanDuration}"></dd>
							<dt> Issue Date</dt>
							<dd th:text="${itemIssuanceDto.issueDate}"></dd>
							<dt> Due Date</dt>
							<dd th:text="${itemIssuanceDto.dueDate}"></dd>
							<dt> Fine Amount</dt>
							<dd th:text="${itemIssuanceDto.fineAmount}"></dd>
						</dl>
					</div>
					<form th:action="@{/ItemIssuanceDelete/{id}(id=${itemIssuanceDto.id})}" method="post">
						<button type="submit" class="btn btn-danger">Delete</button>
						<a th:href="@{/ItemIssuanceView}" class="btn btn-secondary active"> Go Back</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>